
.container{
    display:flex;
}
#banner{
    font-family:Lucida;
}
#main{
    flex:2;
    text-align:center;
}
div img{
    height:180px;
    width:180px;
    margin:10px;
    padding:5px;
}
a{
    text-decoration:none;
    color:black;
}
nav{
    flex:1;
    border:solid 1px black;
    font-size:25px;
}
.center{
    justify-content:center;
    align-items:center;
}
nav a{
    flex:1;
    padding:10px;
}
nav a:hover{
    background-color:black;
    color:white;
}
.card{
    margin:8px;
    padding:5px;
    border:1px solid;
    box-shadow:3px 4px black;
    border-radius:10px;
}
.image img{
    flex-direction:column;
}
p{
    font-size:25px;
}
#side{
    text-align:right;
}
#map img{
    height:230px;
    width:250px;
}
#info{
    max-width:800px;
}