html{
    background-color:rgb(252, 23, 23);
}
.container{
    display:flex;
}
.column{
    flex-direction: column;
}
#banner{
    background-color:red;
    text-decoration:underline;
    font-family:Lucida;
    padding:30px;
    border:double yellow 10px;
    margin:15px;
    font-size:35px;
}
#main{
    flex:2;
    text-align:center;
}
div img{
    height:180px;
    width:180px;
    margin:10px;
    padding:5px;
}
a{
    text-decoration:none;
    color:yellow;
    text-align:center;
}
nav{
    flex:1;
    background-color:darkred;
    border:solid 1px black;
    font-size:25px;
    border-radius:5px;
}
.center{
    justify-content:center;
    align-items:center;
}
nav a{
    flex:1;
    padding:10px;
}
nav a:hover{
    background-color:yellow;
    color:red;
}
.card{
    margin:20px;
    padding:10px;
    border:1px solid;
    box-shadow:3px 4px black;
    border-radius:10px;
    background-color:lightgoldenrodyellow;
}
.image img{
    border:dashed lightcoral 5px;
    padding:0px;
}
.image img:hover{
    
}
p{
    font-size:30px;
}
#visual{
    margin:20px;
    padding:10px;
    border:1px solid yellow;
    box-shadow:3px 4px darkblue;
    border-radius:20px;
    background-color:lightcyan;
}
#map img{
    height:280px;
    width:300px;
}
#info{
    max-width:800px;
}
#footer{
    color:yellow;
    background-color:darkred;
    border:solid black 1px;
    padding:20px;
}
#heading2{
    background-color:yellow;
    border:solid black 2px;
    padding:5px;
}
#side{
    flex-direction:column;
    align-items:right;
    max-width:270px;
    padding:10px;
}
#qing img{
    height:220px;
    width:250px;
}
#shang img{
    height: 400px;
    width:220px;
}
#zhou img{
    height: 300px;
    width:200px;
}
.history img{
    border:solid lightgoldenrodyellow 8px;
    padding:0px;
}
#content img{
    height:380px;
    width:600px;
    padding:20px;
}
#context{
    text-align:center;
    border-radius:25px;
    border:solid rgb(119, 16, 12);
    background-color:rgb(255, 255, 106);
    padding:5px;
    margin:5px;
}
#intro_cult{
    max-width:950px;
    text-align:center;
    font-size:180px;
    padding:10px;
}
.culture img{
    
}