html{
    background-color:rgb(252, 23, 23);
}
.container{
    display:flex;
}
#banner{
    background-color:red;
    text-decoration:underline;
    font-family:Lucida;
    padding:30px;
    border:double yellow 10px;
    margin:15px;
    font-size:30px;
}
#main{
    flex:2;
    text-align:center;
}
div img{
    height:180px;
    width:180px;
    margin:10px;
    padding:5px;
}
a{
    text-decoration:none;
    color:yellow;
}
nav{
    flex:1;
    background-color:darkred;
    border:solid 1px black;
    font-size:25px;
    border-radius:5px;
}
.center{
    justify-content:center;
    align-items:center;
}
nav a{
    flex:1;
    padding:10px;
}
nav a:hover{
    background-color:yellow;
    color:red;
}
.card{
    margin:8px;
    padding:5px;
    border:1px solid;
    box-shadow:3px 4px black;
    border-radius:10px;
    background-color:lightgoldenrodyellow;
}
.image img{
    flex-direction:column;
    border:dashed lightcoral 5px;
    padding:0px;
}
.image img:hover{
    
}
p{
    font-size:25px;
}
#side{
    text-align:right;
}
#visual{
    margin:6px;
    padding:5px;
    border:1px solid yellow;
    box-shadow:3px 4px darkblue;
    border-radius:20px;
    background-color:lightcyan;
}
}
#map img{
    height:280px;
    width:300px;
}
#info{
    max-width:800px;
}
#footer{
    color:yellow;
    background-color:darkred;
    border:solid black 1px;
    padding:20px;
}